

.center-cs {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.wrapper-cs {
	display: flex;
	grid-gap: 1em;
	overflow: hidden;
	width: 63em;
}

.wrapper-cs > .inner {
	display: flex;
	grid-gap: 1em;
	transition: all 1s ease-in-out;
}

.card-cs {
	border-radius: 0.5em;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}

.card-cs > div {
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
	display: block;
	width: 20em;
}

.card-cs > .content {
	background: #555;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	padding: 1em;
	text-align: center;
}

.card-cs > .content > h1,
    .card-cs > .content > h3 {
	margin: 0.35em 0;
}

.card-cs > .content > h1 {
	color: #fff;
	font-size: 1.25rem;
	line-height: 1;
}

.card-cs > .content > h3 {
	color: #ccc;
	font-size: 0.9rem;
	font-weight: 300;
}

.map-cs {
	margin-top: 1em;
}

.map-cs > button {
	all: unset;
	background: #11406c;
	cursor: pointer;
	margin: 0 0.125em;
	position: relative;
	user-select: none;
	border-radius: 100%;
	height: 1em;
	width: 1em;
}

.map-cs > button.active:after {
	background: #001d38;
	content: "";
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	border-radius: 100%;
	height: 0.5em;
	width: 0.5em;
}

.card-cs > div > p{
    min-height: 200px !important;
    max-height: 200px !important;
    padding: 1em;
}


.banner-stories__item-wrapper .slick-dots li {
	cursor: pointer;
	display: inline-block;
	height: 15px;
	margin: 0 8px;
	position: relative;
	width: 15px;
}
	 
.banner-stories__item-wrapper .slick-dots li:last-child {
	margin-right: 0;
}
	 
.banner-stories__item-wrapper .slick-dots li.slick-active button, 
.banner-stories__item-wrapper .slick-dots li button:hover {
	background: white;
}
	 
.banner-stories__item-wrapper .slick-dots li button {
	background: rgba(255, 255, 255, .5);
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 20px;
	padding: 0;
	-o-transition: all 0.4s cubic-bezier(.55, .085, .68, .53);
	-webkit-transition: all 0.4s cubic-bezier(.55, .085, .68, .53);
	transition: all 0.4s cubic-bezier(.55, .085, .68, .53);
	width: 20px;
}
	
.banner-stories {
	background: linear-gradient(90deg, rgba(239, 101, 72, 1) 0%, rgba(166, 31, 86, 0.8) 100%);
	padding-bottom: 5%;
	padding-top: 5%;
	text-align: center;
}
	
.banner-stories h2{
  color: white;
  font-size: 2.2rem;
}

.banner-stories__item {
	background: white;
	box-shadow: 0 2px 10px rgb(0 0 0 /20%);
	margin: .5% .5% 1% .5%;
	opacity: .4;
	-o-transition: all 0.4s cubic-bezier(.55, .085, .68, .53);
	-webkit-transition: all 0.4s cubic-bezier(.55, .085, .68, .53);
	transition: all 0.4s cubic-bezier(.55, .085, .68, .53);
}
	 
.banner-stories__item .card {
	border: 0;
	border-radius: 0;
}
	 
.banner-stories__item .card-body {
	height: 100%;
	padding: 6%;
}
	 
.banner-stories__item .card-body p{
	font-size:1.2rem;
  line-height:1.6rem;
  padding-bottom:2%;
}

.banner-stories__item .card-body h4{
	font-size:1.7rem;
}

.banner-stories__item img {
  border-radius:50%;
	display: block;
	margin: 0 auto;
  padding-top:2%;
	width: 25%;
}
	 
.banner-stories__item-wrapper .banner-stories__item.slick-current {
	opacity: 1 !important;
}
	 
.banner-stories__item-wrapper .slick-dots {
	bottom: 0;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 5;
}


.main-cookie {
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 70px;
	z-index: 10000000000;
	
  }
  
  .container-cookie {
	  height: 70px;
    display: grid;
    justify-content: center;
  }
  
  #card-cookie {
    display: none;
    box-shadow: 0px 0px 15px 0px rgba(52, 69, 199, 0.4);
    border-radius: 20px;
    padding: 10px 40px;
    position: relative;
	background-color: #fff;
  }
  
  .txt-cookie {
    font-size: 18px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  
  .txt-cookie a {
    text-decoration: underline;
  }
  
  #ok {
    background-color: transparent;
    border-radius: 24px;
    border: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  #ok svg {
    position: relative;
    height: 180px;
    width: 100%;
    bottom: -75px;
  }
  
  #ok span {
    position: relative;
    color: #f6f8ff;
    font-size: 16px;
    font-weight: 600;
  }
  
  .bx {
    width: 260px;
    position: absolute;
    height: 200px;
    overflow: hidden;
    right: 0;
    padding-right: 40px;
    bottom: 0;
    pointer-events: none;
  }
  
  .eye {
    animation: eyeBlink 2200ms linear infinite;
  }
  
  @keyframes eyeBlink {
    0%,
    30%,
    36%,
    100% {
      opacity: 1;
    }
    32%,
    34% {
      opacity: 0;
    }
  }

  @media (max-width: 534px) {
	  #okButton{
		  position: relative !important;
		  right: 15px !important;
		  top: 15px !important;
	  }
	  
  }